@{
    Layout = "~/Views/Shared/_adminProductionLayout.cshtml";
}
<head>
    <title>ZPZP</title>
    <link href="/Styles/StyleAdmin.css" rel="stylesheet" type="text/css" />
   
</head>

<div class="row">
    <div class="column">
        <div class="card">
         

            <div class="container">
                <form action="/dashboard/production/manager/settings-password" method="post">
                    <div><h2>Ustawienia użytkownika:</h2></div>
                        <div>
                            <label for="newPwd">Wprowadź nowe hasło:</label>
                            <input type="password" id="newPwd" name="newPwd"/>
                            <input type="hidden" name="userID" value="@ViewBag.ID" />
                            <button type="submit">Zatwierdź</button>
                    </div>
                </form>


                    <form action="/dashboard/production/manager/settings-image" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="file">Wybierz zdjęcie:</label>
                        <input type="file" id="file" name="file" accept="image/*" />
                        <input type="hidden" name="userID" value="@ViewBag.ID" />
                        <button type="submit">Zatwierdź</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

