<!DOCTYPE html>
<html>
<head>
    <title>ZPZP</title>
    <link href="/Styles/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div id="container">
            <div id="header">
                <h1>Dashboard</h1>
            </div>
        <div id="main">
            <div class="btn-group" style="width:100%">
                <button style="width:25%">Ustawienia</button>
                <button style="width:25%">Magazyn</button>
                <button style="width:25%">Lista pracowników</button>
                <button style="width:25%">Statystyki</button>
            </div>
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year created by Michał Bończak
        </div>
    </div>
</body>
</html>

