@{
    Layout = "~/Views/Shared/_adminProductionLayout.cshtml";
}
<head>
    <title>ZPZP</title>
    <link href="/Styles/StyleAdmin.css" rel="stylesheet" type="text/css" />

</head>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <form action="/dashboard/addproject-add" method="post">
                    <label for="SerialNumber">Numer seryjny:</label>
                    <input type="text" id="SerialNumber" name="serialNumber" value="Eg. 12312"><br />
                    <label for="Name">Nazwa projektu: </label>
                    <input type="text" id="Name" name="name" value="Eg. Paczkomat"><br />
                    <label for="documentation">Dokumentacja:</label>
                    <input type="file" id="file" name="file" accept="image/*" />
                    <input type="hidden" name="userID" value="@ViewBag.Surname" /><br />
                    <input type="hidden" name="status" value="Zlecony" />

   
 
                        @{
                        var productionEmployees = ViewBag.ProductionEmployees as SelectList;
                        }

                        @if (productionEmployees != null)
                        {
                            <div class="dropdown">
                                <label for="dropdownone">Przypisz pracownika:</label><br>
                                @Html.DropDownList("DropdownOne", productionEmployees, "-- Wybierz pracownika --", new { @class = "form-control" })
                            </div>
                        }
                        else
                        {
                            <p>Brak dostępnych pracowników do przypisania.</p>
                        }
                    <div class="dropdown">
                        <label for="dropdowntwo">Przypisz pracownika:</label><br>
                         @Html.DropDownList("Dropdowntwo", productionEmployees, "-- Wybierz pracownika --", new { @class = "form-control" })
                    </div>
    
                    <div class="dropdownthree">
                        <label for="dropdown">Przypisz pracownika:</label><br>
                         @Html.DropDownList("Dropdownthree", productionEmployees, "-- Wybierz pracownika --", new { @class = "form-control" })
                    </div>    
                    <input type="submit" value="Zatwierdź"><br>
                </form>
            </div>
        </div>
    </div>
</div>

