@{
    Layout = "~/Views/Shared/_adminProductionLayout.cshtml";
}
<head>
    <title>ZPZP</title>
    <link href="/Styles/StyleAdmin.css" rel="stylesheet" type="text/css" />
   
</head>
<br />
<div class="row">
    <div class="column">
        <div class="card">
         

            <div class="container">
                <form action="/dashboard/settings-password" method="post">
                    <div>
                        <label for="newPwd">Wprowadź nowe hasło:</label>
                        <input type="password" id="newPwd" name="newPwd"/>
                    </div>
                    <input type="hidden" name="userID" value="@ViewBag.userID" />
                    <div>
                    <div>
                        <button type="submit">Zmień hasło</button>
                    </div>
                </form>


                <form asp-action="EditImage" asp-controller="Settings" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="file">Choose a photo:</label>
                        <input type="file" id="file" name="file" accept="image/*" />
                    </div>
                    <div>
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
